@import "./font-faces.css";

:root {
  --primary-font: "Pinar";
  --secondary-font: "Mikhak";

  --primary-color: #415678;
  --text-color: #717e96;
  --red-color: #ee3158;
  --dark-color: #020312;
  --dark-blue: #003379;

  --button-color: #ee3158;

  --transition: 0.2s ease-in-out;
  --transition-2: 0.3s ease-in-out;
}
/*  ---- boilerplates (primary styles) starts ----  */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  line-height: 1.5;
  direction: rtl;
  padding-top: 6.5rem;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.description {
  font-family: var(--secondary-font);
  color: var(--text-color);
  font-size: 1.6rem;
}

.btn {
  border: 1px solid var(--button-color);
  color: var(--button-color);
  padding: 0.6rem 2rem;
  font-family: var(--secondary-font);
  border-radius: 0.5rem;
  transition: all var(--transition);
  cursor: pointer;
  background: transparent;
}
.btn:hover {
  color: #fff;
  background-color: var(--button-color);
}
.btn-fill {
  background-color: var(--button-color);
  color: #fff;
  transition: all var(--transition);
}
.btn-fill:hover {
  background-color: #fff;
  color: var(--button-color);
}

/*  ---- scroll bar ends ----  */
::-webkit-scrollbar {
  width: 0.7rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #415678b2;
}
/*  ---- scroll bar ends ----  */

/*  ---- boilerplates (primary styles) ends ----  */

/*  ---- content-container starts ----  */

.container {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/*  ---- content-container ends ----  */

/*  ---- component styles starts ----  */
.section-header {
  margin-bottom: 5rem;
  text-align: center;
}
.section-header__caption {
  color: var(--red-color);
  font-family: var(--secondary-font);
  font-weight: 400;
}
.section-header__title {
  font-size: 3rem;
  margin: 2rem 0;
}
.section-header__line {
  display: block;
  width: 8rem;
  height: 0.2rem;
  background-color: var(--red-color);
  margin: auto;
}
/*  ---- component styles ends ----  */

/*  ---- header nav starts ----  */

header {
  position: fixed;
  background-color: rgb(206, 230, 230);
  left: 0;
  right: 0;
  top: 0;
  z-index: 99999;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  position: relative;
}
.nav-menu {
  display: none;
}

.mobile-menu {
  position: absolute;
  z-index: 9999999;
  background-color: #fff;
  top: 6.5rem;
  left: 0;
  right: 0;
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}
.mobile-menu__link {
  display: block;
  font-family: var(--secondary-font);
  padding: 1rem 0;
  color: var(--text-color);
}
.mobile-menu__link:hover {
  background-color: rgb(226, 226, 226);
  color: var(--red-color);
}

/*  ---- hamburger menu starts ----  */

.nav-hamburger-menu {
  width: 3.5rem;
  height: 3.5rem;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.nav-hamburger-menu__line {
  display: block;
  width: 2.5rem;
  height: 0.2rem;
  border-radius: 10rem;
  background-color: #000;
  position: relative;
  transition: background-color 0.3s;
}
.nav-hamburger-menu__line::before,
.nav-hamburger-menu__line::after {
  position: absolute;
  content: "";
  background-color: #000;
  width: inherit;
  height: inherit;
  transition: top 0.3s 0.3s, transform 0.3s 50ms;
}

.nav-hamburger-menu__line::before {
  top: -0.8rem;
}
.nav-hamburger-menu__line::after {
  top: 0.8rem;
}

/* habburger menu opens */
.nav-hamburger-menu--open .nav-hamburger-menu__line {
  background: transparent;
}

.nav-hamburger-menu--open .nav-hamburger-menu__line::before,
.nav-hamburger-menu--open .nav-hamburger-menu__line::after {
  top: 0;
  transition: top 0.3s, transform 0.3s 0.3s;
}
.nav-hamburger-menu--open .nav-hamburger-menu__line::before {
  transform: rotate(45deg);
}
.nav-hamburger-menu--open .nav-hamburger-menu__line::after {
  transform: rotate(-45deg);
}

/*  ---- hamburger menu ends ----  */

/*  ---- header nav ends ----  */

/*  ---- home starts ----  */

.home {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 5rem);
  margin-top: 10rem;
}
.home__content {
  flex-basis: 50%;

  text-align: center;
  margin-bottom: 6rem;
}
.home__image {
  flex-basis: 50%;
}

.home__title {
  font-size: 4rem;
}
.home__caption {
  margin: 3rem 0;
}

/*  ---- home ends ----  */

/*  ---- about us starts ----  */

.about-us__content {
  display: flex;
  flex-direction: column;
}
.about-us__image {
  flex-basis: 40%;
  order: 1;
}
.about-us__description {
  flex-basis: 60%;
  margin-bottom: 5rem;
}

/*  ---- about us process starts ----  */

.about-us__process {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10rem 0;
  gap: 1rem;
}
.process-box {
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 1.5rem;
  transition: all var(--transition);
  margin-bottom: 3rem;
}
.process-box__icon {
  font-size: 4.5rem;
  color: var(--primary-color);
}
.process-box__title {
  font-size: 2.5rem;
  margin: 1rem 0;
  color: var(--dark-color);
}
.process-box__caption {
  font-size: 1.8rem;
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

.process-box:hover {
  background-color: var(--primary-color);
}
.process-box:hover * {
  color: #fff;
}

/*process box fill*/
.process-box--fill {
  background-color: var(--primary-color);
}
.process-box--fill * {
  color: #fff;
}
/*  ---- about us process ends ----  */

/*  ---- about us ends ----  */

/*  ---- services  starts ----  */
.services__boxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}
.services__box {
  margin-bottom: 3rem;
  padding: 2rem;
  transition: all var(--transition);
  border-radius: 1rem;
}
.services__icon {
  font-size: 3rem;
  color: var(--red-color);
}
.services__title {
  font-family: "Mikhak-extra-bold";
  margin: 2rem 0;
  color: #003379;
  font-size: 2rem;
}
.services__caption {
  font-family: var(--secondary-font);
  color: var(--text-color);
}

.services__box:hover {
  background-color: #8f246b;
}

.services__box:hover .services__icon {
  color: #c7c1c1;
}
.services__box:hover .services__title,
.services__box:hover .services__caption {
  color: #fff;
}
/*  ---- services  ends ----  */

/*  ---- resume  starts ----  */

/*  ---- funfacts  starts ----  */
.resume__funfacts {
  margin: 10rem 0;
  background-image: url("./../assets/images/resume-fix-background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 10rem 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.resume__funfacts::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #151620;
  opacity: 0.7;
}
.funfact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  cursor: pointer;
  transition: all var(--transition-2);
  margin: 3rem 0;
}

.funfact__icon {
  color: #fff;
  padding: 1rem;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  transition: all var(--transition-2);
}
.funfact__amount {
  font-family: var(--secondary-font);
  font-size: 2rem;
  color: #fff;
  margin: 2rem 0;
}
.funfact__title {
  color: #fff;
}

.funfact:hover {
  transform: translateY(-1rem);
}

.funfact:hover .funfact__icon {
  background-color: #fff;
  color: #000;
}
.funfact:hover::before {
  top: -50rem;
}
.funfact:hover::after {
  top: 50rem;
}

/*  ---- funfacts  ends ----  */

/*  ---- resume  ends ----  */

/*  ---- q-and-a  starts ----  */

.q-and-a__white-background {
  background-color: #fff;
  padding: 2rem;
}
.q-and-a__content {
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  padding: 2rem;
}
.q-and-a__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/*  ---- accordion  starts ----  */
.accordion__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 5rem;
  box-shadow: -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-bottom: 1.5rem;
}
.accordion__title {
  font-size: 1.4rem;
  color: var(--dark-blue);
}
.accordion__icon {
  color: var(--red-color);
}

.accordion__description {
  font-size: 1.4rem;
  font-family: "mickak-black";
  color: var(--text-color);
  padding-right: 1rem;
  border-right: 2px solid var(--text-color);
  height: 0;
  overflow: hidden;
  transition: all var(--transition);
}
/*  ---- accordion ends ----  */
/*  ---- q-and-a ends ----  */

/*  ---- weblog starts ----  */

.blog {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 2rem;
  transition: all var(--transition);
}
.blog__image img {
  object-fit: cover;
}
.blog__date {
  font-family: var(--secondary-font);
  color: var(--red-color);
}
.blog__title {
  font-family: "Mikhak-extra-bold";
  color: var(--primary-color);
}
.blog__caption {
  font-family: var(--secondary-font);
  color: var(--text-color);
  margin-bottom: 1.5rem;
}
/*  ---- weblog ends ----  */

/*  ---- contact us  starts ----  */
.contact-us__caption {
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 2rem;
  color: var(--text-color);
  padding: 0 2rem;
  margin-bottom: 5rem;
}

.contact-us__form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.contact-us__form input,
.contact-us__form textarea {
  padding: 1.5rem;
  border: 0;
  outline: 0;
  border-bottom: 2px solid var(--dark-blue);
  border-radius: 1rem;
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  position: relative;
}
.contact-us__form input {
  flex-basis: 32.7%;
  flex: 1;
}
.contact-us__form textarea {
  flex-basis: 100%;
}
.contact-us__submit-btn {
  font-size: 1.8rem;
  margin-top: 1rem;
}

.contact-us__boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0;
}
.contact-us__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0.5rem;
  flex-basis: 100%;
  height: 18.5rem;
}
.contact-us__icon {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: var(--dark-blue);
}
.contact-us__info {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 1.5rem;
}

/*  ---- contact us  ends ----  */

/*  ---- price starts ----  */
.price-boxes {
  display: flex;
  flex-direction: column;
}
.price-box {
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 4rem;
  position: relative;
  overflow: hidden;
}
.price-box__icon {
  font-size: 4rem;
  color: var(--primary-color);
}
.price-box__title {
  font-size: 2.5rem;
  color: var(--dark-blue);
  margin: 2rem 0;
}
.price-box__price {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.price-box__price-amount {
  font-family: var(--secondary-font);
  font-size: 4.5rem;
  color: var(--primary-color);
}
.price-box__currency {
  margin-right: 1rem;
  font-size: 3rem;
  display: flex;
}
.price-box__per {
  align-self: end;
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 2.5rem;
}
.price-box__features {
  margin-bottom: 1rem;
}
.price-box__feature {
  padding: 0.5rem 0;
  font-family: var(--secondary-font);
  color: var(--dark-blue);
}
.price-box__feature--not-avalible {
  text-decoration: line-through;
  color: #c7c1c1;
}
/*  ---- price ends ----  */

@import "./responsive.css";
