@font-face {
  font-family: "Mikhak";
  src: url("./../assets/fonts/Mikhak/Statics/Mikhak-DS2-FD-Regular.ttf");
}

@font-face {
  font-family: "Pinar";
  src: url("./../assets/fonts/Pinar/Pinar-DS1.ttf");
}

@font-face {
  font-family: "Mikhak-extra-bold";
  src: url("./../assets/fonts/Mikhak/Statics/Mikhak-ExtraBold.ttf");
}
