/*  ---- content-container starts ----  */

@media (min-width: 576px) {
  .container {
    width: 54rem;
  }
}

@media (min-width: 768px) {
  .container {
    width: 72rem;
  }
}

@media (min-width: 992px) {
  .container {
    width: 96rem;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 114rem;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 137rem;
  }
}

/*  ---- content-container ends ----  */

/*  ---- header nav starts ----  */

@media (min-width: 768px) {
  .nav-hamburger-menu {
    display: none;
  }
  .nav-menu {
    display: flex;
    align-items: center;
  }
  .nav-menu__link {
    padding-right: 2rem;
    font-family: var(--secondary-font);
    color: #020312;
    position: relative;
    transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
  }
  .nav-menu__link:hover {
    color: var(--red-color);
  }
}

/*  ---- header nav ends ----  */

/*  ---- home starts ----  */

@media (max-width: 576px) {
  .home__title {
    font-size: 3rem;
    max-width: 30rem;
  }
  .home__caption {
    max-width: 36rem;
  }
}

@media (max-width: 576px) {
  .home__title {
    font-size: 3.3rem;
    max-width: 34rem;
    margin-left: auto;
    margin-right: auto;
  }
  .home__caption {
    max-width: 36rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .home {
    flex-direction: row;
    margin-top: 0;
  }
  .home__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    text-align: right;
  }
  .home__title {
    max-width: 40rem;
  }
  .home__caption {
    max-width: 44rem;
  }
}

/*  ---- home ends ----  */

/*  ---- about us starts ----  */
@media (min-width: 576px) {
  .process-box {
    flex-basis: 100%;
  }
}
@media (min-width: 576px) {
  .process-box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .about-us__process {
    flex-direction: row;
    justify-content: space-between;
  }
  .process-box {
    flex-basis: 49% !important;
    flex-shrink: 0;
  }
}
@media (min-width: 992px) {
  .about-us__process {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
  .process-box {
    flex-basis: 23.3% !important;
  }
  .process-box--fill {
    transform: translateY(4rem);
  }
}

@media (min-width: 992px) {
  .about-us__content {
    flex-direction: row;
    align-items: center;
  }
  .about-us__image {
    flex-basis: 40%;
    order: 0;
  }
  .about-us__description {
    flex-basis: 60%;
  }
}
/*  ---- about us ends ----  */

/*  ---- services starts ----  */
@media (min-width: 768px) {
  .services__boxes {
    flex-direction: row;
    gap: 2rem;
    align-items: center;
  }
  .services__box {
    flex-basis: 48%;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .services__box {
    flex-basis: 31%;
    margin-bottom: 0;
    height: 20rem;
  }
}
/*  ---- services ends ----  */

/*  ---- resume starts ----  */

/*  ---- funfacts starts ----  */
@media (min-width: 576px) {
  .funfact {
    flex-basis: 50%;
    margin-bottom: 6rem;
  }
}
@media (min-width: 768px) {
  .funfact {
    flex-basis: 25%;
    margin: 0;
  }
  .funfact::before,
  .funfact::after {
    position: absolute;
    content: "";
    width: 0.2rem;
    height: 20rem;
    background-color: #fff;
    transition: all var(--transition-2);
  }
  .funfact::before {
    top: -23rem;
  }
  .funfact::after {
    top: 17rem;
  }
}
/*  ---- funfacts ends ----  */

/*  ---- resume ends ----  */

/*  ---- q-and-a starts ----  */
@media (min-width: 400px) {
  .accordion__title {
    font-size: 1.6rem;
  }
}
@media (min-width: 576px) {
  .accordion__title {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .q-and-a {
    background-image: url("./../assets/images/shapes-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 10rem 10rem 10rem 0;
    background-attachment: fixed;
  }
  .q-and-a__white-background {
    width: 70%;
  }
}
/*  ---- q-and-a ends ----  */

/*  ---- weblog starts ----  */

@media (min-width: 768px) {
  .blog {
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
  }
  .blog:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .blog__image {
    width: 29rem;
    height: 19.3rem;
  }
}
@media (min-width: 992px) {
  .blogs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .blog {
    flex-basis: 49.4%;
    margin-bottom: 0;
  }
  .blog__image {
    width: 20rem;
    height: 13.3rem;
  }
}

/*  ---- weblog ends ----  */

/*  ---- contact-us starts ----  */

@media (min-width: 576px) {
  .contact-us__box {
    flex-basis: 49%;
  }
}
@media (min-width: 768px) {
  .contact-us__box {
    flex-basis: 32.3%;
  }
}

/*  ---- contact-us ends ----  */

/*  ---- price starts ----  */
@media (max-width: 340px) {
  .price-box__per {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .price-boxes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }
  .price-box {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .price-box--recommanded {
    border: 1px solid var(--red-color);
  }
  .price-boxes {
    justify-content: flex-start;
    gap: 1rem;
  }
}
@media (min-width: 1200px) {
  .price-boxes {
    gap: 2rem;
  }
  .price-box {
    flex: 1;
  }
}
/*  ---- price ends ----  */

/*  ---- newsletter starts ----  */
@media (max-width: 400px) {
  .newsletter__form {
    flex-direction: column;
  }
  .newsletter__form {
    padding: 1rem;
    border-radius: 1rem;
  }
  .newsletter__form input {
    padding: 1rem;
  }
  .newsletter__form button {
    border-radius: 1rem;
  }
}

@media (min-width: 576px) {
  .newsletter__svg {
    display: block;
  }
  .newsletter__content {
    width: 40rem;
  }
  .newsletter__form input {
    font-size: 1.8rem;
  }
}
/*  ---- newsletter ends ----  */
