/*  ---- content-container starts ----  */

@media (min-width: 576px) {
  .container {
    width: 54rem;
  }
}

@media (min-width: 768px) {
  .container {
    width: 72rem;
  }
}

@media (min-width: 992px) {
  .container {
    width: 96rem;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 114rem;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 137rem;
  }
}

/*  ---- content-container ends ----  */

/*  ---- header nav starts ----  */

@media (min-width: 768px) {
  .nav-hamburger-menu {
    display: none;
  }
  .nav-menu {
    display: flex;
    align-items: center;
  }
  .nav-menu__link {
    padding-right: 2rem;
    font-family: var(--secondary-font);
    color: #020312;
    position: relative;
    transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
  }
  .nav-menu__link:hover {
    color: var(--red-color);
  }
}

/*  ---- header nav ends ----  */

/*  ---- home starts ----  */

@media (max-width: 576px) {
  .home__title {
    font-size: 3rem;
    max-width: 30rem;
  }
  .home__caption {
    max-width: 36rem;
  }
}

@media (max-width: 576px) {
  .home__title {
    font-size: 3.3rem;
    max-width: 34rem;
    margin-left: auto;
    margin-right: auto;
  }
  .home__caption {
    max-width: 36rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .home {
    flex-direction: row;
    margin-top: 0;
  }
  .home__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    text-align: right;
  }
  .home__title {
    max-width: 40rem;
  }
  .home__caption {
    max-width: 44rem;
  }
}

/*  ---- home ends ----  */

/*  ---- about us starts ----  */
@media (min-width: 576px) {
  .process-box {
    flex-basis: 100%;
  }
}
@media (min-width: 576px) {
  .process-box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .about-us__process {
    flex-direction: row;
    justify-content: space-between;
  }
  .process-box {
    flex-basis: 49% !important;
    flex-shrink: 0;
  }
}
@media (min-width: 992px) {
  .about-us__process {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
  .process-box {
    flex-basis: 23.3% !important;
  }
  .process-box--fill {
    transform: translateY(4rem);
  }
}

@media (min-width: 992px) {
  .about-us__content {
    flex-direction: row;
    align-items: center;
  }
  .about-us__image {
    flex-basis: 40%;
    order: 0;
  }
  .about-us__description {
    flex-basis: 60%;
  }
}
/*  ---- about us ends ----  */

/*  ---- services starts ----  */
@media (min-width: 768px) {
  .services__boxes {
    flex-direction: row;
    gap: 2rem;
    align-items: center;
  }
  .services__box {
    flex-basis: 48%;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .services__box {
    flex-basis: 31%;
    margin-bottom: 0;
    height: 20rem;
  }
}
/*  ---- services ends ----  */
